:root {
  --bg-color: #1e293b;
  --icon-color: #64748b;
  --text-color: #6200ee;
  --card-bg: white;
}

.container {
  padding: 2rem;

  display: flex;
  flex-wrap: wrap;
}

.header {
  margin: 1rem;
}

.card {
  width: 25rem;
  margin: 0.5rem;
  background-color: var(--card-bg);
  border-radius: 1%;
}

.card--change {
  height: 12rem;
}

.main--image {
  object-fit: contain;
  width: 100%;
  border-radius: 1%;
}

.main--image--modified {
  width: 50%;
}

.info {
  display: flex;
}

.title {
  font-size: 1.5rem;
}

.sub--title {
  font-size: 1.2rem;
  color: var(--icon-color);
}

.description {
  margin: 1rem;
  color: var(--icon-color);
}

.options {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  font-size: 1.35rem;
}

.options-btn {
  width: 50%;
}

.options-icons {
  width: 50%;
  margin-left: 12rem;
}

.btn {
  cursor: pointer;
  color: var(--text-color);
  background-color: white;
  border: none;
}

.icon {
  cursor: pointer;
  color: var(--icon-color);
}
