<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Drawer Component</title>
  </head>
  <body>
    <div class="container">
      <div class="drawer">
        <div class="title">
          <h2>Title</h2>
          <p>subtext</p>
        </div>
        <div class="options">
          <div class="option-item">
            <span><i class="fas fa-inbox icons"></i></span>
            Inbox
          </div>
          <div class="option-item">
            <span> <i class="fas fa-star icons"></i></span>
            Star
          </div>
          <div class="option-item">
            <span><i class="fas fa-paper-plane icons"></i></span>
            Sent Mail
          </div>
          <div class="option-item">
            <span><i class="fas fa-envelope-open-text icons"></i></span>
            Drafts
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
