<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="/utile.css" />
    <link rel="stylesheet" href="/nav.css" />
    <title>Drawer Component</title>
  </head>
  <body>
    <!------------------------ Navigation Bar ------------------------------>

    <nav class="nav-container">
      <ul>
        <li class="nav-link"><a href="/" class="nav-pills">Card</a></li>
        <li class="nav-link">
          <a href="/Components/Drawer/drawer.html" class="nav-pills">Drawer</a>
        </li>
        <li class="nav-link">
          <a href="/Components/Header/header.html" class="nav-pills">Header</a>
        </li>
        <li class="nav-link">
          <a href="/Components/Snackbar/snackbar.html" class="nav-pills"
            >Snackbar</a
          >
        </li>
        <li class="nav-link">
          <a href="/Components/Badge/badge.html" class="nav-pills">Badges</a>
        </li>
      </ul>
    </nav>

    <!------------------------ Drawer Component ------------------------------>

    <div class="container">
      <div class="drawer">
        <div class="title">
          <h2>Title</h2>
          <p class="sub--title">subtext</p>
        </div>
        <div class="options">
          <div class="option-item">
            <span><i class="fas fa-inbox icons"></i></span>
            Inbox
          </div>
          <div class="option-item">
            <span> <i class="fas fa-star icons"></i></span>
            Star
          </div>
          <div class="option-item">
            <span><i class="fas fa-paper-plane icons"></i></span>
            Sent Mail
          </div>
          <div class="option-item">
            <span><i class="fas fa-envelope-open-text icons"></i></span>
            Drafts
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
