<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <title>Badge Component</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="/utile.css" />
    <link rel="stylesheet" href="/nav.css" />
  </head>
  <body>
    <nav class="nav-container">
      <ul>
        <li class="nav-link"><a href="/" class="nav-pills">Card</a></li>
        <li class="nav-link">
          <a href="/Components/Drawer/drawer.html" class="nav-pills">Drawer</a>
        </li>
        <li class="nav-link">
          <a href="/Components/Header/header.html" class="nav-pills">Header</a>
        </li>
        <li class="nav-link">
          <a href="/Components/Snackbar/snackbar.html" class="nav-pills"
            >Snackbar</a
          >
        </li>
        <li class="nav-link">
          <a href="/Components/Badge/badge.html" class="nav-pills">Badges</a>
        </li>
      </ul>
    </nav>

    <div class="container">
      <div class="badge">
        <h1 class="text">Text With a badge</h1>
        <h2 class="number">4</h2>
      </div>

      <div class="badge">
        <h1 class="text">Text With larger badge</h1>
        <h2 class="number number--larger">10</h2>
      </div>

      <div class="badge">
        <button class="badge--btn">Action</button>
        <h2 class="number number--btn">2</h2>
      </div>

      <div class="badge">
        <button class="badge--btn">Hide</button>
        <h2 class="number">4</h2>
      </div>

      <div class="badge">
        <i class="fas fa-igloo icon"></i>
        <h2 class="number">6</h2>
      </div>
    </div>
  </body>
</html>
