<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Snackbar Component</title>
  </head>
  <body>
    <!------------------------ Navigation Bar ------------------------------>

    <nav class="nav-container">
      <ul>
        <li class="nav-link"><a href="/" class="nav-pills">Card</a></li>
        <li class="nav-link">
          <a href="/Components/Drawer/drawer.html" class="nav-pills">Drawer</a>
        </li>
        <li class="nav-link">
          <a href="/Components/Header/header.html" class="nav-pills">Header</a>
        </li>
        <li class="nav-link">
          <a href="/Components/Snackbar/snackbar.html" class="nav-pills"
            >Snackbar</a
          >
        </li>
      </ul>
    </nav>

    <!------------------------ Navigation Bar ------------------------------>

    <div class="container">
      <div class="snackbar">
        <div class="text">
          <h1>Can't send photo. Retry in 5 second</h1>
          <h1 class="warning">RETRY</h1>
        </div>
        <i class="fas fa-times icon"></i>
      </div>
    </div>
  </body>
</html>
